@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/Roboto.woff') format('woff');
}
body {

  margin: 0px !important;
  width: 100%;
  height: max-content !important;
  padding: 0px;
  overflow-x: hidden;
}
* {
  font-family: Roboto, serif;
}

.swal2-title {
  font-size: 1rem !important;
}
.swal2-html-container {
  font-size: 0.9rem !important;
}
